.my-form input, .my-form select {
  outline: none;
  margin: 8px 0;
  text-align: center;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.calculator, .error-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 70px;
}

.my-form button {
  width: 100px;
  height: 30px;
  background-color: rgb(255, 201, 119);
  border: 1px solid black;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

p.error-msg {
  margin-top: 20px;
  font-weight: 600;
}

.my-form {
  background-color: rgb(192, 190, 190);
  width: 200px;
  padding: 30px;
  border-radius: 5px;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

.error-msg {
  color:red;
}

#result {
  height: 30px;
  width: 130px;
  font-size: 17px;
  font-weight: 700;
}